<template>
  <div class="about">
    <v-container>
      <v-row>
        <v-col cols="12"></v-col>
      </v-row>
    </v-container>
    <v-container class="mt-4">
      <v-row class=" justify-center">
        <v-col cols="12" md="10" class="text-center">
          <h1>專屬於SafeMate的故事。</h1>
          <hr class="about-hr mt-1" />
        </v-col>
        <v-col cols="12" md="8">
          <v-carousel show-arrows hide-delimiters cycle height="350">
            <v-carousel-item
              src="https://images.unsplash.com/photo-1491921125492-f0b9c835b699?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
            >
              <v-row class="fill-height" align="end" justify="center">
                <h3 class="white--text mb-3">安全且專業的態度</h3>
              </v-row>
            </v-carousel-item>
            <v-carousel-item
              src="https://images.unsplash.com/photo-1524844048540-48a73fc4b2ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
            >
              <v-row class="fill-height" align="end" justify="center">
                <h3 class="white--text mb-3">認真且值得信任的駕駛</h3>
              </v-row>
            </v-carousel-item>
            <v-carousel-item
              src="https://images.unsplash.com/photo-1562878126-feb73f191490?ixlib=rb-1.2.1&auto=format&fit=crop&w=1385&q=80"
            >
              <v-row class="fill-height" align="end" justify="center">
                <h3 class="white--text mb-3">和善且讓人舒適的環境</h3>
              </v-row>
            </v-carousel-item>
          </v-carousel>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style></style>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "About",
  components: {},
  data: () => ({
    //
  })
});
</script>
