<template>
  <div class="drivers">
    <v-container class=" hidden-md-and-up mt-8">
      <v-row>
        <v-col cols="12"></v-col>
        <v-col cols="12">
          <v-card class="mx-auto pa-3">
            <v-card-title><h3>加入我們</h3></v-card-title>
            <v-card-text>
              <p>
                只有"合適"的人才能成為SafeMate接送員，每一位SafeMate接送員都是從多名申請者中被挑選出來的。<br />
                那麼什麼樣的申請者才能符合我們"合適"的標準呢？
                除了需要通過所有的身份認證和背景審核條件之外，喜歡和孩子相處，
                樂於助人和為人友善，都是成為一名優秀的接送員的重要條件。
              </p>
            </v-card-text>
            <v-divider class="my-1"></v-divider>
            <v-card-text class="black--text">
              <h4>
                請填寫您的基本資料，讓我們更加了解您並審核是否具有駕駛資格。
              </h4>
            </v-card-text>
            <v-btn
              color="primary"
              rounded
              block
              elevation="0"
              href="https://www.surveycake.com/s/x3Xg8"
              target="_blank"
            >
              加入我們！
            </v-btn>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <v-img
      class="white--text align-center hidden-sm-and-down"
      height="725"
      src="https://images.unsplash.com/photo-1517407529958-f6dd2b0389b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
    >
      <v-container>
        <v-row>
          <v-col md="8">
            <div class="home-image-title">
              成為孩童們專屬的駕駛
            </div>
            <div class="home-image-title-2">
              專取額外的酬勞並可自己決定上班駕駛時間
            </div>
          </v-col>
          <v-col md="4">
            <v-card max-width="400" class="mx-auto pa-3">
              <v-card-title><h3>加入我們</h3></v-card-title>
              <v-card-text>
                <p>
                  只有"合適"的人才能成為SafeMate接送員，每一位SafeMate接送員都是從多名申請者中被挑選出來的。<br />
                  那麼什麼樣的申請者才能符合我們"合適"的標準呢？
                  除了需要通過所有的身份認證和背景審核條件之外，喜歡和孩子相處，
                  樂於助人和為人友善，都是成為一名優秀的接送員的重要條件。
                </p>
              </v-card-text>
              <v-divider class="my-1"></v-divider>
              <v-card-text class="black--text">
                <h4>
                  請填寫您的基本資料，讓我們更加了解您並審核是否具有駕駛資格。
                </h4>
              </v-card-text>
              <div></div>
              <v-btn
                color="primary"
                rounded
                block
                elevation="0"
                href="https://www.surveycake.com/s/vPK4X"
                target="_blank"
              >
                加入我們！
              </v-btn>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-img>
    <v-divider></v-divider>
    <v-container class="my-5">
      <v-row class="justify-center">
        <v-col md="10" class="text-center">
          <div>
            <h1 class="hidden-sm-and-down">誰能成為 SafeMate 的司機？</h1>
            <h2 class="hidden-md-and-up">誰能成為 SafeMate 的司機？</h2>
          </div>
          <div>
            只有'合適'的人才能成為 SafeMate 司機，每一位 SafeMate
            司機都是從多名申請者中被挑選出來的。
            那麼什麼樣的申請者才能符合我們'合適'的標準呢？
            除了需要通過所有的身份認證和背景審核條件之外，喜歡和孩子相處，
            樂於助人和為人友善，都是成為一名優秀的司機的重要條件。
          </div>
        </v-col>
      </v-row>
    </v-container>
    <v-divider>123</v-divider>
    <v-container class="my-2">
      <v-row class="justify-center">
        <v-col md="10" class="text-center">
          <div>
            <h1>如何成為 SafeMate 的司機？</h1>
          </div>
          <div>
            由於您將作為陪伴小孩的司機，因為安全的審查便成為我們的第一要務。我們經過嚴格的審核程序，已審查合格的駕駛成為SafeMate。
          </div>
          <v-container>
            <v-row>
              <v-col cols="12">
                <h1>申請條件</h1>
              </v-col>
              <v-col cols="12" sm="3">
                <v-avatar color="secondary" dark size="35">
                  <h4 class="white--text">1</h4>
                </v-avatar>
                <div class="mt-1">
                  必須年滿23歲。身體健康，形象良好，有親和力及耐心。具備適合與小孩工作的個性。
                </div>
              </v-col>
              <v-col cols="12" sm="3">
                <v-avatar color="secondary" dark size="35">
                  <h4 class="white--text">2</h4>
                </v-avatar>
                <div class="mt-1">
                  擁有多年駕駛經驗，持有清晰的駕駛紀錄及駕駛習慣。
                </div>
              </v-col>
              <v-col cols="12" sm="3">
                <v-avatar color="secondary" dark size="35">
                  <h4 class="white--text">3</h4>
                </v-avatar>
                <div class="mt-1">
                  具備良好的服務意識及能力，誠信守法，具備責任心。
                </div>
              </v-col>
              <v-col cols="12" sm="3">
                <v-avatar color="secondary" dark size="35">
                  <h4 class="white--text">4</h4>
                </v-avatar>
                <div class="mt-1">
                  車齡10年以內的四門汽車。里程數8萬公里以內，車況良好。
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style></style>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "Drivers",
  components: {},
  data: () => ({
    //
  })
});
</script>
