<template>
  <div class="home">
    <v-container>
      <v-row>
        <v-col cols="12"></v-col>
      </v-row>
    </v-container>
    <v-img
      class="white--text align-center hidden-sm-and-down"
      height="725"
      src="http://image.xiaoban.mobi/website/index/mobile-index-banner2.jpg"
    >
      <v-container>
        <v-row class="justify-center">
          <v-col cols="10" class="text-center">
            <v-alert outlined color="white">
              <v-img
                src="@/assets/safemate_whitetitle_nologo.svg"
                height="170"
              />
              <v-divider class="mb-3 white" style="opacity: 0.7"></v-divider>
              <h3>父母親上班去 小孩可以去上學</h3>
              <div>孩 子 訂 製 接 送 服 務</div>
            </v-alert>
          </v-col>
        </v-row>
      </v-container>
    </v-img>
    <v-footer color="primary" class="hidden-sm-and-down page-gradient">
      <v-row class="justify-center text-center">
        <div class="home-page-ourmisson-title white--text">我們的任務</div>
        <v-col cols="12">
          <div class="white--text home-page-ourmisson-content">
            家長輕鬆訂製學生接送服務，確保學生交通安全
          </div>
        </v-col>
      </v-row>
    </v-footer>
    <v-footer color="primary" class="hidden-md-and-up page-gradient">
      <v-row class="justify-center text-center">
        <h1 class=" white--text mt-8">我們的任務</h1>
        <v-col cols="12">
          <h2 class="white--text ">
            家長輕鬆訂製學生接送服務，確保學生交通安全
          </h2>
        </v-col>
      </v-row>
    </v-footer>
    <v-lazy
      v-model="isActive"
      :options="{
        threshold: 1
      }"
      min-height="200"
      transition="scale-transition"
    >
      <v-container class="my-3">
        <v-row justify-center align-center>
          <v-col cols="12" class="text-center">
            <h1>為甚麼選擇 " Safe Mate " ?</h1>
            <p>解決家長有時候無暇親自接送又擔心小孩安全的問題</p>
          </v-col>
        </v-row>
        <v-row class="mb-3">
          <v-col cols="12" md="4">
            <v-card class="pa-1" elevation="2" min-height="160">
              <div
                class="d-flex flex-no-wrap justify-space-between align-center"
              >
                <div>
                  <v-card-title>
                    <h3>安全性</h3>
                  </v-card-title>

                  <v-card-subtitle>
                    <h4>所有駕駛人員，必須通過嚴格認證審核</h4>
                  </v-card-subtitle>
                </div>

                <v-avatar class="ma-3" size="125" tile>
                  <v-img
                    src="../assets/index-select/index-select-safe.png"
                    contain
                    height="90"
                  />
                </v-avatar>
              </div>
            </v-card>
          </v-col>
          <v-col cols="12" md="4">
            <v-card class="pa-1" elevation="2" min-height="160">
              <div
                class="d-flex flex-no-wrap justify-space-between align-center"
              >
                <div>
                  <v-card-title>
                    <h3>透明化</h3>
                  </v-card-title>

                  <v-card-subtitle>
                    <h4>GPS定位路線，實時查看車上實況，客服即時溝通</h4>
                  </v-card-subtitle>
                </div>

                <v-avatar class="ma-3" size="125" tile>
                  <v-img
                    src="../assets/index-select/index-select-trust.png"
                    contain
                    height="90"
                  />
                </v-avatar>
              </div>
            </v-card>
          </v-col>
          <v-col cols="12" md="4">
            <v-card class="pa-1" elevation="2" min-height="160">
              <div
                class="d-flex flex-no-wrap justify-space-between align-center"
              >
                <div>
                  <v-card-title>
                    <h3>可信賴</h3>
                  </v-card-title>

                  <v-card-subtitle>
                    <h4>成為顧客所信賴的夥伴</h4>
                  </v-card-subtitle>
                </div>

                <v-avatar class="ma-3" size="125" tile>
                  <v-img
                    src="../assets/index-select/index-select-intelligence.png"
                    contain
                    height="90"
                  />
                </v-avatar>
              </div>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-lazy>
    <v-divider></v-divider>
    <v-lazy
      v-model="isActive"
      :options="{
        threshold: 1
      }"
      min-height="200"
      transition="scale-transition"
    >
      <v-container class="my-2">
        <v-row class=" justify-center">
          <v-col cols="12">
            <div class="text-md-center text-sm-left">
              <h1>" Safe Mate " 如何運作?</h1>
              我們讓SafeMeta更易於使用。從我們的App到我們獨有的後端技術，到我們成為真正的家庭陪伴，
              我們正在努力給我們的客戶家庭一個更好的體驗。
            </div>
          </v-col>
          <v-col cols="12" md="8">
            <v-tabs
              centered
              background-color="transparent"
              class="mt-3"
              color="secondary"
              v-model="tab"
            >
              <v-tab v-for="item in items" :key="item">
                {{ item }}
              </v-tab>
            </v-tabs>
            <v-tabs-items
              v-model="tab"
              background-color="transparent"
              class="mt-8"
            >
              <v-tab-item>
                <v-card elevation="2" class="pa-3">
                  <v-row align-center>
                    <v-col cols="12" md="4">
                      <v-img
                        src="../assets/home-tabs-img/demand.jpg"
                        height="250"
                      />
                    </v-col>
                    <v-col
                      cols="12"
                      md="8"
                      class="text-center text-md-left align-center"
                    >
                      <h2>提出需求，預約服務</h2>
                      <div>
                        針對孩童前往學校或返家路上的任何需求，提出客製化需求，快速進行預約設定。
                      </div>
                    </v-col>
                  </v-row>
                </v-card>
              </v-tab-item>
              <v-tab-item>
                <v-card elevation="2" class="pa-3">
                  <v-row align-center>
                    <v-col cols="12" md="4">
                      <v-img
                        src="../assets/home-tabs-img/meet.jpg"
                        height="250"
                      />
                    </v-col>
                    <v-col
                      cols="12"
                      md="8"
                      class="text-center text-md-left align-center"
                    >
                      <h2>見面試乘，駕駛員訊息</h2>
                      <div>
                        可事前預約駕駛面對面交流，深入認識駕駛並試乘車輛，以確保孩童乘車體驗。
                      </div>
                    </v-col>
                  </v-row>
                </v-card>
              </v-tab-item>
              <v-tab-item>
                <v-card elevation="2" class="pa-3">
                  <v-row align-center>
                    <v-col cols="12" md="4">
                      <v-img
                        src="../assets/home-tabs-img/message.jpg"
                        height="250"
                      />
                    </v-col>
                    <v-col
                      cols="12"
                      md="8"
                      class="text-center text-md-left align-center"
                    >
                      <h2>駕駛訊息告知</h2>
                      <div>
                        可隨時以訊息通知駕駛，依照需求快速告知駕駛變更。
                      </div>
                    </v-col>
                  </v-row>
                </v-card>
              </v-tab-item>
              <v-tab-item>
                <v-card elevation="2" class="pa-3">
                  <v-row align-center>
                    <v-col cols="12" md="4">
                      <v-img
                        src="../assets/home-tabs-img/surveillance.jpg"
                        height="250"
                      />
                    </v-col>
                    <v-col
                      cols="12"
                      md="8"
                      class="text-center text-md-left align-center"
                    >
                      <h2>行程可視化，掌握路線及即時動態</h2>
                      <div>
                        透過監控裝置及App，即刻了解孩童與車上的狀況動態，了解車況位置。
                      </div>
                    </v-col>
                  </v-row>
                </v-card>
              </v-tab-item>
            </v-tabs-items>
          </v-col>
        </v-row>
      </v-container>
    </v-lazy>
  </div>
</template>
<style>
.home-page {
  min-height: 30vh;
}

.home-page-ourmisson-title {
  font-size: 60pt;
  opacity: 0.87;
}
.home-page-ourmisson-content {
  font-size: 20pt;
  font-weight: lighter;
}
</style>
<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "Home",
  components: {},
  data: () => ({
    tab: null,
    items: ["提出需求", "會面駕駛", "訊息告知", "即時監控"]

    //
  })
});
</script>
