<template>
  <div class="service">
    <v-container>
      <v-row>
        <v-col cols="12"></v-col>
      </v-row>
    </v-container>
    <v-img
      class="white--text align-center hidden-sm-and-down"
      height="725"
      src="https://images.unsplash.com/photo-1497119521568-6d81ecc53899?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
    >
      <v-container>
        <v-row class="justify-center">
          <v-col cols="10" class="text-center">
            <v-alert outlined color="white">
              <v-img
                src="@/assets/safemate_whitetitle_nologo.svg"
                height="170"
              />
              <v-divider class="mb-3 white" style="opacity: 0.7"></v-divider>
              <h3>專業 靈活 便利</h3>
              <div>孩 子 定 制 接 送 服 務</div>
            </v-alert>
          </v-col>
        </v-row>
      </v-container>
    </v-img>
    <v-divider></v-divider>
    <v-container class="home-page align-center">
      <v-row>
        <v-col cols="6" class="my-3 mt-10 hidden-sm-and-down">
          <div class="service-page-title">專注，所以專業</div>
          <div class="service-page-content grey--text">
            Safe Mate一直致力於學生出行領域的探索
            <br />力求成為以家庭為中心的上下學接送服務的領導者
            <br />讓每一個忙碌的家庭都可以從接送孩子的煩惱中解脫出來
          </div>
        </v-col>

        <v-col cols="12" md="6" class="justify-center">
          <v-img
            contain
            height="85%"
            src="https://images.unsplash.com/photo-1473655587843-eda8944061e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80"
          />
        </v-col>
        <v-col cols="12" class="hidden-md-and-up text-center">
          <h1>專注，所以專業</h1>
          <div>
            Safe Mate一直致力於學生出行領域的探索
            <br />力求成為以家庭為中心的上下學接送服務的領導者
            <br />讓每一個忙碌的家庭都可以從接送孩子的煩惱中解脫出來
          </div>
        </v-col>
      </v-row>
    </v-container>
    <v-divider></v-divider>
    <v-container>
      <h1 class="text-md-right text-center">"Safe Mate"服務特點</h1>
      <v-row class="mb-3">
        <v-col cols="12" md="6" class="justify-center px-6">
          <h2>固定接送員</h2>
          <v-divider class="my-4"></v-divider>
          <div>
            專人專車每日接送、長期服務，並且每條路線運行開始之前，安排有接送員和家長在線下見面溝通，由家長做最後的決策，不僅最大限度提升了孩子出行的便捷性，而且顯著提升家長的安全感。
          </div>
        </v-col>
        <v-col cols="12" md="6" class="justify-center px-6">
          <h2>嚴苛的認證審核</h2>
          <v-divider class="my-4"></v-divider>
          <div>
            所有申請成為接送員的人都需要通過由15個維度涵蓋身份、刑事、涉訴、徵信、駕駛、交通違規等方面的安全認證審查，並經過Safe
            Mate平檯面試，以確保每一位接送員都符合我們的標準。
          </div>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" md="6" class="justify-center px-6">
          <h2>APP可視化監控</h2>
          <v-divider class="my-4"></v-divider>
          <div>
            基於LBS、視頻直播、即時通訊等成熟的移動互聯網技術研發的“SafeMate”
            App，擁有實時的行駛軌跡播報和車內視頻監控等功能，家長通過移動端就可對接送過程進行360度遠程監控。
          </div>
        </v-col>
        <v-col cols="12" md="6" class="justify-center px-6">
          <h2>管家式客戶服務</h2>
          <v-divider class="my-4"></v-divider>
          <div>
            從訂單的核實確認、接送員情況的溝通，到每天接送行程的變更，Safe
            Mate的客服團隊都會在第一時間給予家長及時的反饋和問題解決方案通告，提供最好的服務體驗。
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style>
.service-page-title {
  font-size: 40pt;
  font-weight: bold;
  opacity: 0.87;
}
.service-page-content {
  font-size: 16pt;
}
</style>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "Service",
  components: {},
  data: () => ({
    //
  })
});
</script>
