<template>
  <div class="trust">
    <v-container>
      <v-row>
        <v-col cols="12"></v-col>
      </v-row>
    </v-container>
    <v-carousel
      show-arrows
      hide-delimiters
      cycle
      height="725"
      class="hidden-sm-and-down"
    >
      <v-carousel-item
        src="https://images.unsplash.com/photo-1491921125492-f0b9c835b699?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
      >
        <v-row class="fill-height" align="end" justify="center">
          <h1 class="white--text mb-3">安全且專業的態度</h1>
        </v-row>
      </v-carousel-item>
      <v-carousel-item
        src="https://images.unsplash.com/photo-1524844048540-48a73fc4b2ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
      >
        <v-row class="fill-height" align="end" justify="center">
          <h1 class="white--text mb-3">認真且值得信任的駕駛</h1>
        </v-row>
      </v-carousel-item>
      <v-carousel-item
        src="https://images.unsplash.com/photo-1562878126-feb73f191490?ixlib=rb-1.2.1&auto=format&fit=crop&w=1385&q=80"
      >
        <v-row class="fill-height" align="end" justify="center">
          <h1 class="white--text mb-3">和善且讓人舒適的環境</h1>
        </v-row>
      </v-carousel-item>
    </v-carousel>
    <v-carousel
      show-arrows
      hide-delimiters
      cycle
      height="300"
      class="hidden-md-and-up"
    >
      <v-carousel-item
        src="https://images.unsplash.com/photo-1491921125492-f0b9c835b699?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
      >
        <v-row class="fill-height" align="end" justify="center">
          <h1 class="white--text mb-3">安全且專業的態度</h1>
        </v-row>
      </v-carousel-item>
      <v-carousel-item
        src="https://images.unsplash.com/photo-1524844048540-48a73fc4b2ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
      >
        <v-row class="fill-height" align="end" justify="center">
          <h1 class="white--text mb-3">認真且值得信任的駕駛</h1>
        </v-row>
      </v-carousel-item>
      <v-carousel-item
        src="https://images.unsplash.com/photo-1562878126-feb73f191490?ixlib=rb-1.2.1&auto=format&fit=crop&w=1385&q=80"
      >
        <v-row class="fill-height" align="end" justify="center">
          <h1 class="white--text mb-3">和善且讓人舒適的環境</h1>
        </v-row>
      </v-carousel-item>
    </v-carousel>
    <v-container class="mt-3">
      <v-row class=" justify-center">
        <v-col cols="12" md="10" class="text-center">
          <h1 class="hidden-sm-and-down">沒有什麼比孩童的安全更重要</h1>
          <h2 class="hidden-md-and-up">沒有什麼比孩童的安全更重要</h2>
          <p class="mt-2">
            當涉及到孩子時，安全是我們首要考慮的問題，
            這就是為什麼小伴創造了嚴格的接送員篩選流程並研發了卓越的技術來提供可以讓家長信賴的接送方式
          </p>
        </v-col>
      </v-row>
      <v-row class="text-center justify-center">
        <v-col cols="10" sm="5" md="6">
          <h2>司機審核</h2>
          <h3>司機是我們服務的核心</h3>
          <div class="mt-1">
            在SafeMate，我們確保所有的接送員都是能夠為您孩子提供舒適感和熟悉感的人，
            每個接送員都需要經過嚴格篩選程序，並通過嚴謹的審查
          </div>

          <v-btn color="secondary" to="drivers" class="mt-3">篩選條件</v-btn>
        </v-col>
        <v-col cols="10" sm="5" md="6">
          <h2>技術確保安全</h2>
          <h3>卓越的技術和完善的產品</h3>
          <div class="mt-1">
            SafeMate平台利用基於地理位置的GPS技術，即時通訊及實時視頻技術，
            家長能隨時用手機看到行進中的接送車輛地圖軌跡與孩子在車上的實時視頻。
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style></style>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "Trust",
  components: {},
  data: () => ({
    //
  })
});
</script>
