<template>
  <v-app>
    <!-- <v-system-bar dark color="primary">
      <v-spacer></v-spacer>
      <span>{{ new Date().getHours() }}:{{ new Date().getMinutes() }}</span>
    </v-system-bar> -->

    <v-app-bar elevation="1" class="hidden-md-and-up" fixed>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

      <v-img src="@/assets/safemate_title_nologo.svg" contain height="50" />
    </v-app-bar>

    <v-app-bar elevation="1" class="hidden-sm-and-down" height="80" fixed>
      Zhi - Zhi

      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn text to="/" class="hidden-sm-and-down">
          <span class="mr-2">首頁</span>
        </v-btn>
        <v-btn text to="service">
          <span class="mr-2">服務介紹</span>
        </v-btn>
        <v-btn text to="drivers">
          <span class="mr-2">Drivers</span>
        </v-btn>
        <v-btn text to="trust">
          <span class="mr-2">信任 &amp; 安全</span>
        </v-btn>
        <!-- <v-btn text to="About">
          <span class="mr-2">關於我們</span>
        </v-btn> -->
      </v-toolbar-items>
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" fixed>
      <v-list-item class="my-5">
        <v-list-item-title class="primary--text text-center">
          <v-img src="@/assets/logo.svg" contain height="70" />
        </v-list-item-title>
      </v-list-item>
      <v-divider></v-divider>
      <v-list dense>
        <v-list-item to="/">
          <v-list-item-title>首頁</v-list-item-title>
        </v-list-item>
        <v-list-item to="service">
          <v-list-item-title>服務介紹</v-list-item-title>
        </v-list-item>
        <v-list-item to="drivers">
          <v-list-item-title>Drivers</v-list-item-title>
        </v-list-item>
        <v-list-item to="trust">
          <v-list-item-title>信任 &amp; 安全</v-list-item-title>
        </v-list-item>
        <!-- <v-list-item to="About">
          <v-list-item-title>關於我們</v-list-item-title>
        </v-list-item> -->
      </v-list>
    </v-navigation-drawer>
    <v-content>
      <router-view />
    </v-content>
    <v-divider></v-divider>
    <div>
      <v-container class="text-center">
        <v-row>
          <v-col md="12" cols="12">
            <h1>我們很樂意聽取您的意見</h1>
            <p>SafeMate - 讓家長更輕鬆，讓孩子更快樂，</p>
          </v-col>
        </v-row>
        <v-row>
          <v-col md="6">
            <v-img src="@/assets/aboutus/phone.svg" contain height="80" />
            <h3 class="mt-2">給我們打電話</h3>
            <p>(06)253-7558</p>
          </v-col>
          <v-col md="6" cols="12">
            <v-img src="@/assets/aboutus/email.svg" contain height="80" />
            <h3 class="mt-2">寫信給我們</h3>
            <p>gathermaster.assist@gmail.com</p>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <v-footer dark padless color="secondary lightent-3" class="justify-center">
      <div class="white--text my-2">
        {{ new Date().getFullYear() }} — <strong>Safe Mate</strong>
      </div>
      <!-- <v-card flat tile class="primary darken-1 text-center">
        <v-card-text>
          <v-btn class="mx-4 white--text" icon>
            <v-icon size="24px">mdi-facebook-box</v-icon>
          </v-btn>
          <v-btn class="mx-4 white--text" icon>
            <v-icon size="24px">mdi-instagram</v-icon>
          </v-btn>
          <v-btn class="mx-4 white--text" icon>
            <v-icon size="24px">mdi-twitter</v-icon>
          </v-btn>
        </v-card-text>

        <v-card-text class="pt-0"
          >Phasellus feugiat arcu sapien, et iaculis ipsum elementum sit amet.
          Mauris cursus commodo interdum. Praesent ut risus eget metus luctus
          accumsan id ultrices nunc. Sed at orci sed massa consectetur dignissim
          a sit amet dui. Duis commodo vitae velit et faucibus. Morbi vehicula
          lacinia malesuada. Nulla placerat augue vel ipsum ultrices, cursus
          iaculis dui sollicitudin. Vestibulum eu ipsum vel diam elementum
          tempor vel ut orci. Orci varius natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus.</v-card-text
        >
        <v-divider></v-divider>

        <v-card-text class="white--text">
          {{ new Date().getFullYear() }} —
          <strong>Safe Mate</strong>
        </v-card-text>
      </v-card> -->
    </v-footer>
  </v-app>
</template>

<style>
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap&subset=chinese-traditional");

* {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
}
.home-image-title {
  font-size: 50pt;
  font-weight: 600;
  text-shadow: 2px 2px 4px #000000;
}

.home-image-title-2 {
  font-size: 25pt;
  font-weight: 400;
  text-shadow: 2px 2px 4px #000000;
}
.page-gradient {
  background-image: linear-gradient(
    to right,
    rgba(49, 135, 193, 0.9),
    #4778bd
  ) !important;
}
</style>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "App",
  components: {},
  data: () => ({
    drawer: false,
    group: null
  }),
  watch: {
    group() {
      this.drawer = false;
    }
  }
});
</script>
